body{
    font-family: 'Prompt', sans-serif;
    margin: 0;
}
.para-color{
    color: #707070;

}
/* Header Section Start */
.header-section{
    background-image: linear-gradient(#ffffff00, #121212), url("images/svg/sylhet-flood.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 200px 300px;
    color: white;
}
.header-section h1{
    font-size: 58px;
    text-align: center;
}
.header-section p{
    text-align: center;
    padding: 0 100px;
}
.header-section div{
    text-align: center;
    padding: 50px;
}
.header-section a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    background-color: #FF5959;
    padding: 15px 20px;
}
/* Header Section End */

/* Donate Section Start */
.donate-section{
    text-align: center;
    margin: 100px auto;
}
#donate-header{
    text-align: center;
    margin: 0 25%;
}
#donate-header h1{
    font-size: 48px;
    margin-bottom: 15px;
}

.btn{
    color: #707070;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 8rem;
    height: 7rem;
    margin: 7px;
}
.selected{
    background-color: #ff59593f;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

#input-amount{
    text-align: center;
    font-size: 16px;
    width: 50%;
    border:none;
    border-bottom: 1px solid #70707060;
    padding: 10px;
    margin: 40px 0 20px;
}
.btn-submit{
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #FF5959;
    padding: 15px 20px;
}
/* Donate Section End */

/* Donate plan Section Start */
.donate-plan-section{
    margin: 100px 100px;
}
#donate-plan-header{
    text-align: center;
    margin: 0 25%;
}
#donate-plan-header h1{
    font-size: 48px;
    margin-bottom: 15px;
}
.flexible{
    display: flex;
    margin-top: 50px;
}
.flexible img{
    width: 20%;
}
.one-third{
    width: 30%;
    padding: 40px 20px;
    border-radius: 5px;
}
#food{
    background-color: #deedee77;
}
#family{
    background-color: #FFE0E077;
    margin: 0 25px;
}
#edu{
    background-color: #ffecb877;
}
/* Donate plan Section End */

/* Become a Volunteer Start */
.volunteer{
    margin: 100px 100px;
}
.volunteer-header{
    text-align: center;
    margin: 0 25%;
}
.volunteer-header h1{
    font-size: 48px;
    margin-bottom: 15px;
}

#join-form{
    text-align: center;
}
#label-join{
    color: #0590FF;
    font-weight: 800;
}
.input-sizing{
    padding: 10px;
    width: 400px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #808080;
    border-radius: 5px;
}
.msg{
    height: 100px;
}
.btn-join{
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: #0590FF;
    padding: 10px 20px;
    margin: 0;
}

/* Become a Volunteer End */

/* Get Me Updates */
.subs-section{
    text-align: center;
    margin: 0 25%;
}
.subs-section  h1{
    font-size: 48px;
    margin-bottom: 15px;
}
#form-bg{
    
    background-color: #ffecb877;
    padding: 50px 0;
}
#input-email{
    text-align: left;
    background-color: #aa9f9f75;
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    border:none;
    border: 1px solid #70707060;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 0;
}
#btn-subs{
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #FF5959;
    padding: 10px 20px;
    margin: 0;
}

/* Get Me Updates */

/* Footer Section Start */
.footer-section{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 30px;
}
.footer-section h1{
    margin: 0;
}

.footer-section img{
    width: 100px;
    height: auto;
}
/* Footer Section End */